@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Nunito:wght@200..1000&display=swap");
:root {
  --color-neutral-900: 164, 45%, 16%;
  --color-neutral-800: 168, 21%, 28%;
  --color-neutral-300: 160, 13%, 84%;
  --color-neutral-200: 150, 10%, 89%;
  --color-neutral-100: 45, 20%, 95%;
  --color-neutral-000: 0, 0%, 100%;
  --color-accent: 355, 54%, 71%;
  --color-accent-dark: 355, 93%, 29%;
  --color-accent-light: 355, 93%, 90%;
  --color-error: 355, 81%, 54%;
  --ff-accent: "Nunito", sans-serif;
  --ff-sans: "Nunito Sans", sans-serif;
}
