@use "./../../styles/mixin";

.errorMain {
  @include mixin.container;
  display: grid;
  justify-items: center;
  padding-block-start: 4.8rem;
  align-items: baseline;
  gap: 1.6rem;
  text-align: center;
}

.ctaBtn {
  @include mixin.text-preset-8;
  color: hsl(var(--color-neutral-000));
  border-radius: 3.2rem;
  display: grid;
  place-content: center;
  width: fit-content;
  background-color: hsl(var(--color-neutral-900));
  padding-inline: 2.4rem;
  padding-block: 1.6rem;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: hsl(var(--color-neutral-800));
  }
  &:focus {
    outline: 0.2rem solid hsl(var(--color-neutral-900));
    outline-offset: 0.2rem;
  }
}
