@use "./../../styles/mixin";

.form {
  display: grid;
  gap: 1.6rem;
  width: 100%;
  @include mixin.screen-md {
    max-width: 54rem;
  }
}
.form__query {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: hsl(var(--color-neutral-000));
  border: 0.1rem solid hsl(var(--color-neutral-300));
  border-radius: 3.6rem;
  gap: 0.8rem;
  align-items: center;
  padding: 1rem 1.6rem;
  position: relative;
  input {
    width: 100%;
    color: hsl(var(--color-neutral-900));
    &::placeholder {
      @include mixin.text-preset-7;
      color: hsla(var(--color-neutral-900), 0.7);
    }
    @include mixin.screen-md {
      width: calc(100% - 13rem);
    }
  }
  &:focus-within {
    outline: 0.2rem solid hsl(var(--color-neutral-900));
    outline-offset: 0.2rem;
  }

  @include mixin.screen-md {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.form__submitBtn {
  background-color: hsl(var(--color-neutral-900));
  border-radius: 3.6rem;
  padding: 1.6rem 3.2rem;
  color: hsl(var(--color-neutral-000));
  width: 20rem;
  justify-self: center;
  margin-block-start: 1rem;
  z-index: 999;
  @include mixin.screen-md {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: end;
    margin-block-start: 0;
    width: 14rem;
  }
  &:hover {
    background-color: hsl(var(--color-neutral-800));
  }
  &:focus {
    outline: 0.2rem solid hsl(var(--color-neutral-900));
    outline-offset: 0.2rem;
  }
}
.form__errMessage {
  @include mixin.text-preset-10;
  color: hsl(var(--color-error));
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 1.6rem;
}
