@use "./../../styles/mixin";

.hero {
  @include mixin.container;
  padding-block-start: 4.8rem;
  display: grid;
  gap: 4rem;
  margin-block-end: -35%;
  @include mixin.screen-md {
    margin-block-end: 0;
    gap: 0;
    grid-template-columns: auto auto;
    overflow: hidden;
    padding-block-end: 4.8rem;
  }
}
.hero__contentContainer {
  display: grid;
  gap: 3.2rem;
  align-content: center;
  @include mixin.screen-md {
    max-width: 59rem;
  }
}
.hero__content {
  display: grid;
  gap: 3.2rem;
}
.hero__img {
  position: relative;
  z-index: -1;
  max-width: 80%;
  margin: 0 auto;
  filter: drop-shadow(20px 20px 14px rgba(79, 23, 28, 0.25));
  @include mixin.screen-md {
    width: 190%;
    max-width: 51.2rem;
  }
}
